/*-------- Button --------*/

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 37px;

    position: relative;

    font-family: $font-arcade;
    font-size: 20px;
    color: $black;

    background: #FFFFFF;
    border: 1px solid #F4F5F9;
    text-transform: uppercase;

    transition: color 0.2s cubic-bezier(0.19, 1, 0.22, 1), background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1), border-color 0.2s cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
        text-decoration: underline;
    }

    &:after {
        content: "";
        width: calc(100% + 2px);
        height: 4px;

        position: absolute;
        top: calc(100% + 1px);
        left: -1px;

        background-color: #DCDFEB;
    }
}

.button {

    &--mint {
        background: #D74B4A;
        border-color: #BA4A40;
    }

    &--mint:after {
        background-color: #BA4A40;
    }

    &--mint &__icon {
        max-width: 80%;
    }

    &--mint:hover {
        background: #e95f5f;
        border-color: #d46359;
    }
}

@media (max-width: 479px) {

    .button {
        height: 38px;
        padding: 0 20px;
        font-size: 18px;
    }
}