/*-------- Header --------*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 12px;
}

@media (max-width: 479px) {

    .header {
        padding-bottom: 20px;
    }
}