@font-face {
    font-family: 'AvertaCY-Bold';
    src: url('subset-AvertaCY-Bold.woff2') format('woff2'),
        url('subset-AvertaCY-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaCY-Regular';
    src: url('subset-AvertaCY-Regular.woff2') format('woff2'),
        url('subset-AvertaCY-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ArcadeClassic';
    src: url('subset-ArcadeClassic.woff2') format('woff2'),
        url('subset-ArcadeClassic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}