/*-------- Fonts --------*/
$font-r: "AvertaCY-Regular";
$font-b: "AvertaCY-Bold";
$font-arcade: "ArcadeClassic";

/*-------- Colors --------*/
$blue: #5DD2FE;
$beige: #FFE8DB;
$black: #353535;
$beige: #F9EDCA;

@import './reset.scss';
@import './components/components.scss';